@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.pad-dash {
  @apply ml-[430px] pr-52 pl-24;
}
.pad-custom {
  @apply px-4 md:px-0;
}
body {
  @apply font-main;
}

.size-custom {
  @apply text-lg md:text-xl;
}

.sidebar-text {
  @apply text-2xl cursor-pointer flex items-center;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.transition-transform {
  transition-property: transform, opacity;
  transition-timing-function: ease-in-out;
}

.translate-y-0 {
  transform: translateY(0);
  opacity: 1;
}

.translate-y-full {
  transform: translateY(-100%);
  opacity: 0;
}
